;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[net.cgrand/macrovich "0.2.1"]]

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"

   :modules
   {:main ; becomes public/js/main.js
    {:init-fn starter.browser/init}}}
  :bootstrap
  {:target           :bootstrap
   :output-dir       "public/bootstrap"
   :compiler-options {:warnings      {:infer false}
                      :optimizations :simple}
   :exclude          #{cljs.js}
   :entries          [cljs.js friday.myns]
   :macros           [friday.myns]} }}
